<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css")
        script(defer="" src="https://use.fontawesome.com/releases/v5.14.0/js/all.js")
        title LogIn
    body
      section.hero.is-success.is-fullheight
        .hero-body
          .container
            form(action="home" method="POST")
              .field(style='width: 30%;')
                label.label Email
                .control.has-icons-left.has-icons-right
                  input.input.is-link(name="mail" type='email' placeholder='Email input' value='')
                  span.icon.is-small.is-left
                    i.fas.fa-envelope
              .field(style='width: 30%;')
                label.label Password
                  .control.has-icons-left.has-icons-right
                    input.input.is-link(name="pass" type='password' placeholder='Text input' value='')
                    span.icon.is-small.is-left
                      i.fas.fa-user              
              .field              
                button.button.is-link(type="submit") Login